<div style="text-align:center; padding: 10px 35px;">
	<img src="../../../assets/images/OhanaMeals_Logo2.png" width="190" />
	<div style="font-weight: bold;">EXPRESS CHECKOUT</div>
</div>
<div style=" background: #373b44;
    color: white;
    font-size:14px;
	padding: 10px 77px 10px 95px;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;"
	>
	<div>
	<span style="padding:10px; cursor:pointer;" [routerLink]="['']">Home</span>/
	<span style="padding:10px; cursor:pointer;" [routerLink]="['/mealplans']">Meal Plans</span>/
	<span style="padding:10px; cursor: pointer;" [routerLink]="['/my-account']">My Account</span>
	</div>
	</div>
<div style="display:flex; flex-direction: row; flex-wrap: wrap; padding:10px; justify-content: center;" >
<div>
	<div style="margin:5px 10px; font-weight:400"><span class="step">1.</span>Review Your Order</div>
	<span style="font-size:14px; margin-left:10px;">You can customize your plan by</span> 
	<span class="addMeal" (click)="addMealModal.show();">adding a meal</span>
	<div style="margin-left:10px; font-size:13px;">or 
	<span class="addMeal" [routerLink]="['/mealplans']">adding a combo</span>.</div>
	<div style="display:flex; flex-direction: row; flex-wrap: wrap; font-size:14px;" 
	 *ngFor="let order of orders.specialties; let index=index">
	  <div style="margin:10px; width:120px;">
			<span *ngIf="index === 0">Meal</span>
		<div style="font-weight:500">{{order.data.name}}</div>
		<div style="font-size:12px;">{{order.data.title}}</div>
		<div>
		<div class="remove" (click)="deleteOrder(order._id, index)">
			Remove this meal
		</div>
	  </div>
	  </div>
	  <div style="margin:10px;">
		 <span *ngIf="index === 0">Price</span>
		  <div>{{order.data.price}}</div>
	  </div>
	  <div style="margin:10px; width:45px">
		<div >
		  <span *ngIf="index === 0">Qty</span>
		<div>
			<button class="buttonStyleAdd"  (click)="add(order.quantity, index)">+</button>
			<input class="qtyStyle" [(ngModel)]="order.quantity" readonly> 
			<button *ngIf="order.quantity > 1" class="buttonStyleSub" (click)="del(order.quantity, index)">-</button>
		</div>
	  </div>
	  </div>
	  <div style="margin:10px" >
			<span *ngIf="index === 0">Subtotal</span>
			<div>
			{{(order.data.price) * (order.quantity) | currency: 'USD'}}
			</div>		
	  </div>
	
</div>
<div style="display:flex; justify-content: space-between; margin-bottom:5px;font-size:14px;">
	<div style="margin-left:10px;">Subtotal</div>
	<div style="margin-right:25px;">{{subtotal | currency: 'USD' }}</div>
</div>
<div style="display:flex; justify-content: space-between; margin-bottom:5px;font-size:14px;">
		<div style="margin-left:10px;">Tax</div>
		<div style="margin-right:25px;">{{tax | number : '1.2-2'}}</div>
	</div>
	<div style="display:flex; justify-content: space-between; margin-bottom:5px;font-size:14px;">
			<div style="margin-left:10px;">Shipping</div>
			<div style="margin-right:25px;">Free</div>
		</div>
	<div style="display:flex; justify-content: space-between; margin-bottom:5px; font-weight: 500;font-size:14px;">
			<div style="margin-left:10px;">Total</div>
			<div style="margin-right:25px;">{{total | number : '1.2-2'| currency: 'USD'}}</div>
		</div>
</div>
<div>
	<div class="deliveryinfo">
	<div style="margin:5px 0px; font-weight:400"><span class="step">2.</span>Delivery Information</div>
	<div>
		<div style="margin-bottom:10px;">
	   <div class="label">Delivery Date:</div>
		<select style="background:lightgoldenrodyellow" 
		class="inputStyle" 
		[(ngModel)]="deliverydate"
		(change)="delivery()">
		<option disabled value="undefined">Choose from Available Delivery Dates</option>
		<option>Dec 2, 2019 7:00pm</option>
		</select>
		</div>
		<form [formGroup]="updateForm" (change)="updateUser()" novalidate>
		<div style="display:flex; margin-bottom:10px;">
			<div>
			<div class="label" >Firstname</div>
			<input class="inputOneLine"  formControlName="firstname">
			</div>
			<div>
			<div class="label" >Lastname</div>
			<input class="inputOneLine" formControlName="lastname">
			</div>
		</div>
		<div style="margin-bottom:10px;">
				<div class="label" >Street Address</div>
				<input class="inputStyle" formControlName="street">
		</div>
		<div style="display:flex; margin-bottom:10px;">
				<div>
				<div class="label" >City</div>
				<input class="inputOneLine"  formControlName="city">
				</div>
				<div>
				<div class="label" >State</div>
				<input class="inputOneLine" formControlName="state">
				</div>
			</div>
			<div style="display:flex; margin-bottom:10px;">
					<div>
					<div class="label" >Zipcode</div>
					<input class="inputOneLine" formControlName="zipcode">
					</div>
					<div>
					<div class="label" >Phone</div>
					<input class="inputOneLine" formControlName="phone">
					</div>
				</div>
		<div style="margin-bottom:10px;">
				<div class="label" >Email Address</div>
				<input class="inputStyle" formControlName="email">
		</div>
		</form>
		<div>
				<div class="label" >Message</div>
				<textarea  [(ngModel)]="message" (change)="leaveMsg()" class="inputStyle" rows="4" cols="50" placeholder="Special instructions regarding your order"></textarea>
		</div>
	</div>
	</div>
	</div>
	<div style="width:330px;">
			<div style="margin:5px 10px; font-weight:400"><span class="step">3.</span>Payment Information</div>
			<div style="margin-left:10px;"><img src="../../../assets/images/stripe-pay.png" width="200" height="45"/></div>
	
			<div style="margin-bottom:5px; font-weight: 500; display:flex;font-size:15px;">
					<div style="margin:10px;">Payment Amount</div>
					<div style="margin-left:25px; margin-top:10px;">{{total | number : '1.2-2'| currency: 'USD'}}</div>
				</div>
				<div style="margin-left:10px;">
				<div style="margin-bottom:10px;">
						<div class="label" >Card Number</div>
						<input class="inputCard" [(ngModel)]="cardnumber">
				</div>
				<div style="display:flex; margin-bottom:10px;">
						<div>
						<div class="label" >Firstname</div>
						<input class="inputOneLine"  [(ngModel)]="firstname">
						</div>
						<div>
						<div class="label" >Lastname</div>
						<input class="inputOneLine" [(ngModel)]="lastname">
						</div>
					</div>
					<div style="display:flex; margin-bottom:10px;">
							<div>
							<div class="label" >Expiry Month</div>
							<input class="inputOneLine"  [(ngModel)]="month">
							</div>
							<div>
							<div class="label" >Expiry Year</div>
							<input class="inputOneLine"  [(ngModel)]="year">
							</div>
							<div>
							<div class="label" >Security Code</div>
							<input class="inputOneLine" [(ngModel)]="cvc">
							</div>
						</div>
						<div *ngIf="cardnumber > 0">
						<div style="margin:5px 0px;">
							<input type="checkbox" [(ngModel)]="checkboxValue" (change)="changeAddress()">
							<span style="font-weight:bold; font-size:12px;">Use Delivery Address</span>
						</div>
						<div style="margin-bottom:10px;">
								<div class="label" >Billing Address</div>
								<input class="inputCard" [(ngModel)]="billstreet">
						</div>
						<div style="display:flex; margin-bottom:10px;">
								<div>
								<div class="label" >City</div>
								<input class="inputOneLine"  [(ngModel)]="billcity">
								</div>
								<div>
								<div class="label" >State</div>
								<input class="inputOneLine" [(ngModel)]="billstate">
								</div>
							</div>
							<div style="display:flex; margin-bottom:10px;">
									<div>
									<div class="label" >Zipcode</div>
									<input class="inputOneLine"  [(ngModel)]="billzipcode">
									</div>
									<div>
									<div class="label" >Email</div>
									<input class="inputOneLine" [(ngModel)]="email">
									</div>
								</div>
								</div>
						<button class="paymentButton" >Place Your Order</button>
						</div>
		</div>
	</div>
	<div mdbModal style="overflow: auto" #addMealModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addMealModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close pull-right" aria-label="Close" (click)="addMealModal.hide()">X</button>
						<div style="margin-left:35%;">
							<img src="../../../assets/images/hot-food-bowl.png">
							<span class="addMealTitle">Add a Meal</span>
						</div>
						<br>
						<div>
						<select class="browser-default custom-select" [(ngModel)]="selectedMeal" 
						   (change)="addMeal($event)">
								<option disabled selected value="undefined">Choose a meal to add to your plan</option>
								<option *ngFor="let meal of addMeals" [ngValue]="meal">{{meal.data.name}}</option>
							  </select>
							  <br>
							  </div>
					</div>
				</div>
			</div>
		</div>
	
