<div>
	<div class="combotitle">{{fulldetails?.name}} Menu:</div>
	<br>
	<div *ngFor="let combo of fulldetails?.product_combos">
		<div style="display:flex; flex-direction: row; height:160px; margin-bottom:15px;">
			<img style="object-fit: cover" src="{{combo.image}}" width="150"  />
			<div>
			<div class="comboname">{{combo.name}}</div>
			<div class="combodesc">{{combo.description}}</div>
			</div>
		</div>
	</div>
</div>
