<div class="mainpage">
        <p class="section-label"><i class="fa fa-lock"></i>&nbsp;Change Password</p>
        <ul>
            <li>
                <div style="margin-bottom:5px;">Please enter a new password with a minimum of 6 characters</div>
                <div>
                    <input  [formControl]="newpwd" [(ngModel)]="newpassword" type="password">
                    <div style="color:red; font-size:10px; margin-top:5px;" *ngIf="newpwd.touched && newpwd.invalid">
                            Please enter a password with a minimum of 6 characters
                        </div>
                </div>
                
            </li>
            <li>
                    <div style="margin-bottom:5px;">Please confirm by re-typing password</div>
                    <div>
                        <input [formControl]="confirmpwd" [(ngModel)]="confirmpassword" type="password">
                        <div style="color:red; font-size:10px; margin-top:5px;" *ngIf="confirmpwd.touched && confirmpwd.invalid">
                                Please enter a password with a minimum of 6 characters
                            </div>
                             <div style="color:red; font-size:10px; margin-top:5px;" *ngIf= "confirmpassword != null && newpassword !== confirmpassword">Passwords do not match!</div>
                    </div>
                    
                </li>
        </ul>
        <button class="change-settings" [disabled]="newpwd.invalid || confirmpwd.invalid " (click)="resetPassword()">Change Password</button>
    </div>