ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 13px;
    margin-bottom: 6px;
  }

  input {
      width: 100%;
  }

  button:disabled {
    background: lightgrey;
  }

  .mainpage {
    width: 320px;
    margin: auto;
    padding: 50px;
  }

  .section-label {
    font-weight: bold;
    color: orange;
  }

  .change-settings {
    background: orangered;
    color: white;
    cursor: pointer;
    border: 0;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
}