<div style="text-align:center; padding: 10px 35px;">

		<div><img src="../../../assets/images/OhanaMeals_Logo2.png" width="170" /></div>

	
		<!-- SIGN UP -->
	
		<div>
			<div style="margin-bottom:10px;">Please create an account</div>
			<div class="error">{{registrationError}}</div>
			<div class="success">{{registrationSuccess}}</div>
			<form [formGroup]="signUpForm" (submit)="signUpUser()" novalidate>
					<div style="color:red; font-size:10px; margin-top:5px; margin-left:16px;" *ngIf="signUpForm.get('firstname').touched && signUpForm.get('firstname').invalid">
							Please enter a name
						</div>
				<input class="inputStyle" #firstname formControlName="firstname" type="text" placeholder="First Name">
				<div style="color:red; font-size:10px; margin-top:5px; margin-left:16px;" *ngIf="signUpForm.get('lastname').touched && signUpForm.get('lastname').invalid">
						Please enter a name
					</div>
				<input class="inputStyle" #lastname formControlName="lastname" type="text" placeholder="Last Name">
				<div style="color:red; font-size:10px; margin-top:5px; margin-left:16px;" *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid">
						Please enter a valid email e.g. username@mail.com
					</div>
				<input class="inputStyle" #email formControlName="email" type="email" placeholder="Email">
				<div style="color:red; font-size:10px; margin-top:5px; margin-left:16px;" *ngIf="signUpForm.get('password').touched && signUpForm.get('password').invalid">
						Please enter a password with a minimum of 6 characters
					</div>
				<input class="inputStyle" #password formControlName="password" type="password" placeholder="Password">
	
				<br>
	
				<!-- <button class="login" type="submit" [disabled]="!signUpForm.valid"> -->
				<button class="login" type="submit">
			Create an Account
		  </button>
	
			</form>
		</div>
		<div>
			Have an Account? <a style="color:orangered; font-weight:400" (click)="login()"> Login </a>
		</div>
	<button class="fb" (click)="LoginFB()">
					Sign In with  <span style="margin-left:4px; font-weight:bold">Facebook</span>
		  </button>
	<button class="google" style="background:#c83c26" (click)="LoginGoogle()">
				Sign In with  <span style="margin-left:4px; font-weight:bold">Google</span>
	</button>
	
	</div>
