* {
	box-sizing: border-box;
}

.columns {
	float: left;
	width: 20%;
	padding: 8px;
}

.price {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.price:hover {
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
	color: white;
	font-size: 18px;
}

.price li {
	padding: 10px 0px;
	text-align: center;
}

.price .grey {
	background-color: #eee;
	font-size: 18px;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

.selectPlan {
	background:#a6c633;
	color:white;
	border: 0;
	border-radius: 3px;
	padding: 5px 20px;
}

@media only screen and (max-width: 600px) {
	.columns {
		width: 100%;
	}
}

/* Tabs */

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

h1 {padding: 100px 0; font-weight: 400; text-align: center;}
p {margin: 0 0 20px; line-height: 1.5;}

.main {margin: 0 auto; min-width: 320px; max-width: 1250px;}
.content {background: #fff; color: #373737;}
.content > div {display: none; padding: 20px 25px 5px;}

input {display: none;}
label {display: inline-block; padding: 15px 25px; font-weight: 600; text-align: center;}
label:hover {cursor: pointer;}
input:checked + label {border-bottom: 3px solid orangered}

#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4 {
  display: block;
}

@media screen and (max-width: 400px) { label {padding: 15px 10px;} }

