<div style="padding:15px; text-align:center;">
	<a [routerLink]="['']"><img height="50" width="250" src="../../assets/images/OhanaMeals_Logo2.png" /></a>
	<div style="font-weight:bold;">CHOOSE A MEAL PLAN</div>
</div>
<div style=" background: #373b44;
    color: white;
    font-size:14px;
	padding: 10px 77px 10px 55px;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;"
	>
	<div>
	<span style="padding:10px; cursor:pointer;" [routerLink]="['']">Home</span>/
	<span style="padding:10px; cursor:pointer;" (click)="myAccount()">My Account</span>/
	<span style="padding:10px;">Help</span>
	</div>
	</div>
<div class="main">
		<input id="tab1" type="radio" name="tabs">
		<label style="margin-left:35px;" for="tab1">2-Meal Plan</label>
  
		<input id="tab2" type="radio" name="tabs" checked>
		<label for="tab2">3-Meal Plan</label>
  
		<input id="tab3" type="radio" name="tabs">
		<label style="margin-left:35px;" for="tab3">5-Meal Plan</label>
		<div class="content">  
			<div id="content1">
					<div *ngFor="let list of products | slice:0:6">
							<div class="columns">
								<ul class="price">
									<li class="header"><img src="../../assets/images/hot-food-bowl.png"/></li>
									<li>
										<div style="margin-bottom:5px;">{{list.name}}:</div>
										<div style="font-size:13px;">
										<div style="margin-right:5px; font-weight:bold" *ngFor="let combo of list.product_combos">
											<div>{{combo.name}}</div>
											<img *ngIf="combo.combo === '1'" src="../../assets/images/divider.png" width="60"/>
										</div>
									   </div>
									   <a style="display:block; font-size:11px; color:blue" (click)="getdetails(list); detailModal.show()">View Meal Description</a>
									</li>
									<li >{{list.price | currency: 'USD'}}/ person</li>
									<li ><button class="selectPlan" (click)="addToCart(list)">Order</button></li>
								</ul>
							</div>
						</div>
			</div>
  
			<div id="content2">
					<div *ngFor="let list of products | slice:6:12">
							<div class="columns">
								<ul class="price">
									<li class="header"><img src="../../assets/images/hot-food-bowl.png"/></li>
									<li>
										<div style="margin-bottom:5px;">{{list.name}}:</div>
										<div style="font-size:13px; height: 136px;">
										<div style="margin-right:5px; font-weight:bold" *ngFor="let combo of list.product_combos">
											<div>{{combo.name}}</div>
											<img *ngIf="combo.combo === '1'" src="../../assets/images/divider.png" width="60"/>
										</div>
									   </div>
									   <a style="display:block; font-size:11px; color:blue" (click)="getdetails(list); detailModal.show()">View Meal Description</a>
									</li>
									<li >{{list.price | currency: 'USD'}}/ person</li>
									<li ><button class="selectPlan" (click)="addToCart(list)">Order</button></li>
								</ul>
							</div>
						</div>
			</div>
  
			<div id="content3">
					<div *ngFor="let list of products | slice:12:16">
							<div class="columns">
								<ul class="price">
									<li class="header"><img src="../../assets/images/hot-food-bowl.png"/></li>
									<li>
										<div style="margin-bottom:5px;">{{list.name}}:</div>
										<div style="font-size:13px; height: 255px;">
										<div style="margin-right:5px; font-weight:bold" *ngFor="let combo of list.product_combos">
											<div>{{combo.name}}</div>
											<img *ngIf="combo.combo === '1'" src="../../assets/images/divider.png" width="60"/>
										</div>
									   </div>
									   <a style="display:block; font-size:11px; color:blue" (click)="getdetails(list); detailModal.show()">View Meal Description</a>
									</li>
									<li >{{list.price | currency: 'USD'}}/ person</li>
									<li ><button class="selectPlan" (click)="addToCart(list)">Order</button></li>
								</ul>
							</div>
						</div>
			</div>
		</div>
  
</div>

<!-- <div *ngFor="let list of products">
	<div class="columns">
		<ul class="price">
			<li class="header"><img src="../../assets/images/hot-food-bowl.png"/></li>
			<li>
				{{list.name}}:&nbsp;
				<div style="font-size:13px;">
				<div style="margin-right:5px; font-weight:bold" *ngFor="let combo of list.product_combos">{{combo.name}}</div>
			   </div>
			   <a style="display:block; font-size:11px; color:blue" (click)="getdetails(list); detailModal.show()">View Meal Description</a>
			</li>
			<li >{{list.price | currency: 'USD'}}/ person</li>
			<li ><button class="selectPlan" (click)="addToCart(list)">Select This Plan</button></li>
		</ul>
	</div>
</div> -->

<div>
	<div mdbModal style="overflow: auto" #detailModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myDetailModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close pull-right" aria-label="Close" (click)="detailModal.hide()">X</button>
					<app-mealcards [list]="selectedProduct"></app-mealcards>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div mdbModal style="overflow: auto" #signupModal="mdb-modal" 
	class="modal fade" tabindex="-1" role="dialog" 
	aria-labelledby="mySignUpModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">X</button>
					<app-signup 
					[list]="addProduct" 
					[menuItem]="menuItem"
					[clearform]="clearForm" 
					(resetPwd)="resetPassword()"
					(myOrder)="myOrder($event)"
					(create)="create()"
					></app-signup>
				</div>
			</div>
		</div>
	</div>
</div>
<div mdbModal style="overflow: auto" #createAccount="mdb-modal" 
class="modal fade" tabindex="-1" role="dialog" 
aria-labelledby="createAccountModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close pull-right" aria-label="Close" (click)="closeCreateModal()">X</button>
					<app-create 
					[clearform]="clearForm" 
					(activate)="activate($event)"
					(loginAccount) = "loginAccount()"
					>
				</app-create>
				</div>
			</div>
		</div>
	</div>
	<div mdbModal style="overflow: auto" #activateAccount="mdb-modal" 
	class="modal fade" tabindex="-1" role="dialog" 
	aria-labelledby="activateAccountModalLabel" aria-hidden="true"
	[config]="{ignoreBackdropClick: true}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close pull-right" aria-label="Close" (click)="closeActivateModal()">X</button>
						<app-activate
						[list]="addProduct"
						[creds]="credentials"
						(myOrder)="myOrder($event)"
					    (loginAccount) = "loginAccount()"
						>
					</app-activate>
					</div>
				</div>
			</div>
		</div>
