<div class="mainpage">
        <p class="section-label"><i class="fa fa-key"></i>&nbsp;Activate Account</p>
        <ul>
            <li *ngIf="!isVisible">
                <div>Please check your email for an account activation token. Once you have received it,
                please enter it here to activate your account :
                </div>

                <br>

                <div>
                <input type="text" [(ngModel)] ="token" >
                </div>

                <br>

                <button class="change-settings" (click)="activate()" >Activate My Account</button>
                </li>

                <!-- <li *ngIf="isVisible">
                    <div>You have successfully activated your account!</div>
                    <br>
                   <div (click)="loginNow()" class="loginNow">Please login now</div>
                </li> -->
        </ul>
    </div>