.inputStyle {
    margin-bottom: 15px;
    padding: 5px;
    width: 90%;
    border: 1px solid lightgray;
    border-radius: 3px;
    
}

.fb {
    padding: 5px 10px;
    background: #415DAE;
    border: 0;
    color: white;
    margin-right:10px;
    width: 90%;
    margin-left: 5px;
    border-radius: 3px;
    margin: 10px 0;
}

.google {
    background: #c83c26;
    padding: 5px 10px;
    border: 0;
    color: white;
    width: 90%;
    margin-left: 5px;
    border-radius: 3px;
}

.login {
    border: 0;
    width: 90%;
    padding: 5px;
    border-radius: 3px;
    background: #373b44;
    color: white;
    margin-bottom:5px;
    cursor: pointer;
}

.error {
    font-size: 11px;
    font-style: italic;
    color: red;
    margin-bottom: 5px;
}
.success {
    font-size: 11px;
    font-style: italic;
    color: red;
    margin-bottom:5px;
}

