@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
	background: white;
	/*	background: #e6e6e6;*/
}

.navbar {
	border-bottom: 0.5px solid #E36c25;
}

.footer-copyright {
	border-top: 0.5px solid #E36c25;
	font-size: 11px;
}

.mat-tab-body-content {
	overflow: hidden !important;
}
