<div class="header">
		<!-- <div style="float:left;">
				<!--    Made by Erik Terwan    -->
	<!--   24th of November 2015   -->
	<!--        MIT License        -->
	<!-- <nav role="navigation">
			<div id="menuToggle"> -->
			  <!--
			  A fake / hidden checkbox is used as click reciever,
			  so you can use the :checked selector on it.
			  -->
			  <!-- <input type="checkbox" /> -->
			  
			  <!--
			  Some spans to act as a hamburger.
			  
			  They are acting like a real hamburger,
			  not that McDonalds stuff.
			  -->
			  <!-- <span></span>
			  <span></span>
			  <span></span> -->
			  
			  <!--
			  Too bad the menu has to be inside of the button
			  but hey, it's pure CSS magic.
			  -->
			  <!-- <ul id="menu">
				<a href="#"><li>Home</li></a>
				<a href="#"><li>About</li></a>
				<a href="#"><li>Info</li></a>
				<a href="#"><li>Contact</li></a>
				<a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
			  </ul>
			</div>
		  </nav>
		</div>  -->
		<div>
		<a [routerLink]="['']"><img height="50" width="250" src="../assets/images/OhanaMeals_Logo2.png" />
		</a>
		</div>
	</div>	
<div style=" background: #373b44;
    color: white;
    font-size:14px;
	padding: 10px 77px 10px 85px;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;"
	>
	<div *ngIf="hasItems" 
	style="float:left; color:#a6c633; font-size:13px; cursor:pointer;" [routerLink]="['/shopping-cart']">
	<img src="http://icons.iconarchive.com/icons/artdesigner/urban-stories/24/Cart-icon.png"/>	
	{{orders.length}} meal/s are in your basket</div>
	<div>
	<span style="padding:10px; cursor:pointer;" (click)="myAccount()">My Account</span>/
	<span style="padding:10px; cursor:pointer;" (click)="myOrders()">My Orders</span>/
	<span style="padding:10px;">Help</span>
	</div>
	<!--
<span style="position:absolute; left:66%;">Find out if we deliver to your area: 
	<input style="       width: 120px;
    color: white;
    text-align: center;
    background: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid white;
    margin-left: 10px; margin-right:5px;" type="text" placeholder="Enter Zipcode">
    <span class="badge orange"><i style="padding:2px;" class="fa fa-search fa-1x" aria-hidden="true"></i></span>
</span>
-->
</div>
<div style="margin-top:26px;" class="container">
	<div class="row">
		<div style="padding:0; " class="col-md-4">
			<div style="background:white; text-align:center; padding-top:15px; border:0.5px solid lightgray;">
				<div style="font-size:22px;">3-Meal Combo</div>
				<div style="color:#a6c633; font-weight:500; font-size:15px;">Choose from up to 6 combos of 1-2 Entrees</div>
				<div><button type="button" class="btn btn-deep-orange" [routerLink]="['mealplans']">Start Your Order</button>
				</div>

				<div><img style="width:99%; height:240px; object-fit:cover;" src="http://www.pachd.com/free-images/food-images/salmon-dish-01.jpg" /></div>
				<div style="
					background: #53493c;			
    position: absolute;
    right: 1px;
    top: 85%;
    width: 100%;
    padding: 25px;
    opacity: 0.75;"></div>
				<div style="position: absolute; top:87%; left:3%"><span style="font-size:20px" class="badge badge-pill orange">1</span></div>
				<div style="position: absolute;
    top: 88%;
    left:15%;
     margin-left:10px;
    color: ghostwhite;">Beef Tapa and Chopsuey</div>
			</div>
		</div>
		<div style="padding:0;" class="col-md-4">
			<ul style="list-style-type: none; padding: 0px; position:relative">
				<li>
					<div class="ulam"><img style="width:75%" src="http://www.pachd.com/free-images/food-images/mexican-food-01.jpg" /></div>
					<div style="background: #53493c;position: absolute;top: 44%;
    width: 100%;
    padding: 25px;
    opacity: 0.75;"></div>
					<div style="position: absolute; top:46%; left:3%"><span style="font-size:20px" class="badge badge-pill orange">2</span></div>
					<div style="position: absolute;
    top: 47%;
    left:15%;
    margin-left:10px;
    color: ghostwhite;">Pork Sinigang</div>
				</li>
				<li>
					<div class="ulamcombo"><img style="width:75%; margin-top:10px;" src="http://www.allwhitebackground.com/images/3/3430.jpg" /></div>
					<div style="
					background: #53493c;			
    position: absolute;
    top: 92%;
    width: 100%;
    padding: 25px;
    opacity: 0.75;"></div>
					<div style="position: absolute; top:95%; left:3%"><span style="font-size:20px" class="badge badge-pill orange">3</span></div>
					<div style="position: absolute;
    top: 96%;
    left:15%;
     margin-left:10px;
    color: ghostwhite;">Chicken Kaldereta</div>
				</li>
			</ul>
		</div>
		<div style="padding:0" class="col-md-4">
			<ul style="list-style-type: none; padding: 0px; position:relative">
				<li [routerLink]="['mealplans']">
					<div id="slider">
						<figure>
							<img height="225" src="http://www.pachd.com/free-images/food-images/japanese-food-06.jpg" alt>
							<img height="225" src="http://www.pachd.com/free-images/food-images/japanese-food-04.jpg" alt>
							<img height="225" src="http://www.pachd.com/free-images/food-images/japanese-buns-03.jpg" alt>
							<img height="225" src="http://www.pachd.com/free-images/food-images/fruits-01.jpg" alt>
							<img height="225" src="http://www.pachd.com/free-images/food-images/japanese-food-06.jpg" alt>
						</figure>
					</div>
					<div style="position:absolute; z-index:999; color:white; top:30%; left:11%; font-size:13px; font-weight:400;">Freshly prepared and delivered ready-to-eat to you</div>
					<div style="position:absolute; z-index:999; color:white; top:16%; font-size:16px; left:10%; font-weight:600;">Check out our 2- and 5-Meal Combos!</div>
					<div style="
					background: #a6c633;			
    position: absolute;
    top: 3%;
    width: 90%;
    padding: 100px;
    left: 5%;    
    opacity: 0.75;"></div>
				</li>
				<li>
					<div style=" font-size:13px; padding:20px; position: absolute;
    color: white;
    z-index: 9999;
    font-weight: 400;">Take the guesswork out of your weekly meal planning with our delicious meal options. We offer generous individual to family-size portions that fit your taste and budget. </div>
					<div class="discount">10% Off Your First Order</div>
					<div style="background:url(http://www.pachd.com/free-images/food-images/cherries-01.jpg); color:white; height:192px;">
						<div style="
					    background: #ff570c;
    position: absolute;
    width: 100%;
    padding: 40px;
    height: 46%;
    opacity: 0.5;"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div style="margin-bottom:20px;" class="container">
	<div class="row">
		<div style="background:#373b44; border-right:10px solid #e6e6e6; padding:20px 0px;" class="col-md-4">
			<div style="display:flex; flex-wrap:wrap; justify-content: center;">
				<div style="margin:0 15px;">
					<img src="../assets/images/menu.png">
				</div>
				<div class="process">
					SELECT <br> A MEAL COMBO
					<div style="font-size:12px;">Easy ordering in just a few clicks!</div>
				</div>
			</div>
		</div>
		<div style="background:#373b44; border-right:10px solid #e6e6e6; padding:20px 0px;" class="col-md-4">
			<div style="display:flex; flex-wrap:wrap; justify-content: center;">
				<div style="margin:0 15px;">
					<img src="../assets/images/delivery.png">
				</div>
				<div class="process" >
					WE COOK<br> AND DELIVER
					<div style="font-size:12px;">Food delivered fresh and on time!</div>
				</div>
			</div>
		</div>
		<div style="background:#373b44; padding:20px 0px;" class="col-md-4">
			<div style="display:flex; flex-wrap:wrap; justify-content: center;">
				<div style="margin:0 15px;">
					<img src="../assets/images/restaurant.png">
				</div>
				<div class="process">
					ENJOY<br> YOUR MEAL
					<div style="font-size:12px;">Tuck into a world of deliciousness</div>
				</div>
			</div>
		</div>
		</div>
		<div mdbModal style="overflow: auto" #signupModal="mdb-modal" 
		class="modal fade" tabindex="-1" role="dialog" 
		aria-labelledby="mySignUpModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">X</button>
							<app-signup 
							[clearform]="clearForm" 
							[menuItem]="menuItem"
							(resetPwd)="resetPassword()"
							(myOrder)="myOrder($event)"
							(create)="create()"
							>
						</app-signup>
						</div>
					</div>
				</div>
			</div>
			<div mdbModal style="overflow: auto" #createAccount="mdb-modal" 
			class="modal fade" tabindex="-1" role="dialog" 
			aria-labelledby="createAccountModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<button type="button" class="close pull-right" aria-label="Close" (click)="closeCreateModal()">X</button>
								<app-create 
								[clearform]="clearForm" 
								(activate)="activate($event)"
								(loginAccount) = "loginAccount()"
								>
							</app-create>
							</div>
						</div>
					</div>
				</div>
				<div mdbModal style="overflow: auto" #activateAccount="mdb-modal" 
				class="modal fade" tabindex="-1" role="dialog"
				 aria-labelledby="activateAccountModalLabel" aria-hidden="true"
				 [config]="{ignoreBackdropClick: true}">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-body">
									<button type="button" class="close pull-right" aria-label="Close" (click)="closeActivateModal()">X</button>
									<app-activate
									[creds]="credentials"
									(myOrder)="myOrder()"
									(loginAccount) = "loginAccount()"
									>
								</app-activate>
								</div>
							</div>
						</div>
					</div>
