ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 13px;
  margin-bottom: 6px;
}

.navi {
background: #373b44;
color: white;
font-size:14px;
padding: 10px;
display:flex;
justify-content: space-between;
flex-wrap: wrap;
}

.perk-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

button:disabled {
    background: lightgray;
}

.section-label {
  font-weight: bold;
  color: orange;
}

.account-label {
  padding: 8px 10px;
  background: #e40046;
  color: white;
}

.change-settings {
    background: orangered;
    color: white;
    cursor: pointer;
    border: 0;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
}

.link-menu {
  color: white;
  cursor: pointer;
}

.mainpage {
  width: 320px;
}

.step {
    color: orangered;
    font-size: 18px;
    margin-right: 5px;
    font-weight: bold;
}

.qtyStyle {
    border: 0;
    width: 20px;
    text-align: center;
}

.label {
    font-size:12px; 
    font-weight:500;
}

.inputStyle {
    padding: 2px 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width:320px;
    font-size:14px;
}

.inputCard {
    padding: 2px 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width:98%;
    font-size:14px;
}

.inputOneLine {
    padding: 2px 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width:97%;
    font-size:14px;
}

.inputSpacing {
    margin: 10px 10px;
}

.buttonStyleAdd {
    border: 0;
    background: 0;
    padding:0;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    color:#a6c633;
}

.buttonStyleSub {
    border: 0;
    background: 0;
    padding:0;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    color:red;
}

.paymentButton {
    width: 98%;
    border: 0;
    padding: 5px;
    border-radius: 3px;
    background: orangered;
    color: white;
}

.remove {
    font-size: 10px;
    font-weight: 400;
    color: red;
    cursor: pointer;
}

.addMeal {
    color: #a6c633;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.addMealTitle {
    position: absolute;
    top: 24px;
    margin-left: 7px;
    font-weight: 500;
    font-size: 17px;
}

.deliveryinfo {
    margin: 0 10px 0 45px;
}

@media only screen and (max-width: 434px) {
    .deliveryinfo {
        margin: 0 10px 0 23px;
    }
    .inputStyle[_ngcontent-c1] {
        width: 100%;
  }
  .inputOneLine[_ngcontent-c1] {
    margin-right: 15px;
}
}

/* media queries */

@media only screen and (max-width: 673px) {
  .sidebar {
    display: flex;
    flex-direction: row;
  }
  .link-menu {
    margin-right: 10px;
  }

  .navi {
    padding: 5px 15px;
  }
}

@media only screen and (max-width: 580px) {
  .perk-card {
    width: 80%;
  }
}
