
<div style="padding:10px; text-align:center;">
	<a [routerLink]="['']"><img height="50" width="250" src="../assets/images/OhanaMeals_Logo2.png" />
	</a>
</div>
<div class="navi">
<div style="text-align: center; cursor:pointer;" >
	<span style="margin: 0 5px;" [routerLink]="['']">Home</span>/
	<span style="margin: 0 5px;" [routerLink]="['/mealplans']">Meal Plans</span>
	<span *ngIf="hasItems" 
	style="color:#a6c633; font-size:13px; cursor:pointer;" [routerLink]="['/shopping-cart']">
	<img src="http://icons.iconarchive.com/icons/artdesigner/urban-stories/24/Cart-icon.png"/>	
	{{orders.length}} meal/s are in your basket
</span>
</div>
<div style="text-align: center;">
<span style="padding:10px; cursor:pointer;" class="link-menu" (click)="showChangeProfile()">My Profile</span>/
<span style="padding:10px;"  class="link-menu" (click)="showChangePassword()">Change Password</span>/
<span style="padding:10px;" class="link-menu" (click)="showChangeEmail()">My Orders</span>
</div>
</div>

<div class="perk-container">
	<div *ngIf="changeEmail" class="mainpage">
			<p class="section-label"><i class="fa fa-envelope"></i>&nbsp;My Orders</p>
			<div>You have no existing orders. 
				<a [routerLink]="['/mealplans']">Browse our meal plans.</a>
			</div>
		</div>
	<div *ngIf="changePassword" class="mainpage">
			<p class="section-label"><i class="fa fa-lock"></i>&nbsp;Change Password</p>
			<ul>
				<li>
					<div style="margin-bottom:5px;">We will email you instructions on how to reset
						your password. Please enter your email address.</div>
					<div>
						<input type="text" class="form-control" placeholder="email" [(ngModel)]="email">
					</div>
				</li>
			</ul>
			<button class="change-settings" (click)="recoverPassword()">Change Password</button>
		</div>
	<div *ngIf="changeProfile" class="mainpage">
		<p class="section-label"><i class="fa fa-gear"></i>&nbsp;Profile Settings</p>
        <div>
			<form [formGroup]="signUpForm" (submit)="updateUser()" novalidate>
            <div style="display:flex; margin-bottom:10px;">
                <div>
				<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="signUpForm.get('firstname').touched && signUpForm.get('firstname').invalid">
					Please enter a name
				</div>
                <div class="label" >Firstname</div>
                <input class="inputOneLine"   formControlName="firstname">
                </div>
                <div>
				<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="signUpForm.get('lastname').touched && signUpForm.get('lastname').invalid">
					Please enter a name
				</div>
                <div class="label" >Lastname</div>
                <input class="inputOneLine"  formControlName="lastname">
                </div>
            </div>
			<div style="margin-bottom:10px;">
					<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="signUpForm.get('street').touched && signUpForm.get('street').invalid">
							Please enter a street
					</div>
                    <div class="label" >Street Address</div>
                    <input class="inputStyle"  formControlName="street">
            </div>
            <div style="display:flex; margin-bottom:10px;">
                    <div>
					<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="signUpForm.get('city').touched && signUpForm.get('city').invalid">
							Please enter a city
					</div>
                    <div class="label" >City</div>
                    <input class="inputOneLine"   formControlName="city">
                    </div>
                    <div>
					<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="signUpForm.get('state').touched && signUpForm.get('state').invalid">
							Please enter a state
					</div>
                    <div class="label" >State</div>
                    <input class="inputOneLine"  formControlName="state">
                    </div>
                </div>
                <div style="display:flex; margin-bottom:10px;">
                        <div>
						<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="signUpForm.get('zipcode').touched && signUpForm.get('zipcode').invalid">
							Please enter a zipcode
						</div>
                        <div class="label" >Zipcode</div>
                        <input class="inputOneLine"  formControlName="zipcode">
                        </div>
                        <div>
						<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="signUpForm.get('phone').touched && signUpForm.get('phone').invalid">
							Please enter a phone
						</div>
                        <div class="label" >Phone</div>
                        <input class="inputOneLine"  formControlName="phone">
                        </div>
                    </div>
			<div style="margin-bottom:10px;">
					<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid">
							Please enter an email address
						</div>
                    <div class="label" >Email Address</div>
                    <input class="inputStyle"  formControlName="email">
			</div>
			<button class="change-settings" type="submit" [disabled]="!signUpForm.valid">
					Change Settings
				  </button>
		</form>
        </div>
	</div>
</div>